.index {
  h2 {
    font-family: "GenJyuuGothic-Bold";
    font-size: 40px;
    letter-spacing: 4px;
  }
  p {
    font-family: "GenJyuuGothic-Regular";
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
  }
  .spacing{
    width: 80%;
  }
  /* header */
  header {
    .dot {
      @include dot;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
@media (max-width: 1800px) {
  .index {
    .spacing {
      width: 90%;
    }
  }
}
@include desktop {
  .index {
    .spacing {
      width: 70%;
    }
  }
}
@include ipad {
  .index{
    .spacing {
      width: 100%;
    }
  }
}
@include phone {
  .index {
    span {
      display: block;
    }
  }
}

/* About us */
.about {
  h2{
    margin-bottom: 40px;
  }
  p {
    font-family: "GenJyuuGothic-Medium";
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 60px;
  }
  line-height: 1.2;
  padding: 100px 0 0;
  img{
      display: block;
      width: 100%;
      height: auto;
  }
  .about-content{
    width: 91%;
  }
  .dot {
    margin-top: 72px;
    @include dot;
  }
}
@include phone{
  .about{
    p{
      font-size: 15px;
    }
    .about-content{
    width: 100%;
  }
  }
}

/* Our service */
.service {
  .dot {
    margin-top: 72px;
    @include dot;
  }
}

.service-items {
  margin-top: 40px;
  .items-content{
    background: no-repeat;
    overflow: hidden;
    opacity: 0.8;
    transition: all 0.3s;
    &:hover{
      opacity: 1;
    }
  }
  a {
    display: block;
    width: 360px;
    height: 360px;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    &:hover {
      text-decoration: none;
    }
  }
  h3 {
    font-family: "GenJyuuGothic-Medium";
    font-size: 30px;
    letter-spacing: 3.5px;
  }
  p {
    font-family: "GenJyuuGothic-Regular";
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 30px;
  }
}
@include phone{
  .service-content {
    p{
      font-size: 15px;
    }
    .breakline{
      display: inline-block;
    }
  }
}

/* Work flow */
.workflow {
  padding-bottom: 150px;
}
.workflow-content {
  p {
    line-height: 30px;
  }
}
.work-item {
  width: 100%;
  &.bg-color {
    background-color: #eeeeee;
  }
  .work-space {
    width: 80%;
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h3 {
    font-family: "GenJyuuGothic-Heavy";
    font-size: 20px;
    letter-spacing: 2px;
  }
  p {
    font-family: "GenJyuuGothic-Medium";
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 12px;
    white-space: nowrap;
    span{
      display: block;
      margin-top: 4px
    }
  }
  img {
    display: block;
    width: auto;
    height: 174px;
    margin: 10px 0;
  }
}
@media (max-width: 1400px) {
  .work-item {
    .work-space {
      width: 100%;
    }
  }
}
@include ipad {
  .work-item {
    .work-space {
      width: 100%;
    }
  }
}
@include phone{
  .workflow-content {
    p{
      font-size: 15px;
    }
    .breakline{
      display: inline-block;
    }
  }
}

/* button style */
.more-btn{
  font-family: "GenJyuuGothic-Bold";
  font-size: 15px;
  color: #000;
  text-align: center;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 10px 20px;
  border: 1px solid #707070;
  border-radius: 44px;
  background-color: #fff;
  margin-top: 50px;
  transition: all 0.2s;
  &:hover {
    text-decoration: none;
    color: #000;
    transform: scale(1.01);
    box-shadow: 0px 3px 6px #00000029;
  }
}
