// 匯入字體
@font-face {
    font-family: "GenJyuuGothic-Heavy";
    src: url(assets/fonts/GenJyuuGothic-Heavy.ttf);
    font-display: swap;
}
@font-face {
    font-family: "GenJyuuGothic-Medium";
    src: url(assets/fonts/GenJyuuGothic-Medium.ttf);
    font-display: swap;
}
@font-face {
    font-family: "GenJyuuGothic-Regular";
    src: url(assets/fonts/GenJyuuGothic-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: "GenJyuuGothic-Bold";
    src: url(assets/fonts/GenJyuuGothic-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: "FranklinGothicHeavy-Regular";
    src: url(assets/fonts/FranklinGothicHeavy-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: "BradburySans-Light";
    src: url(assets/fonts/BradburySans-Light.ttf);
    font-display: swap;
}